@font-face {
    font-family: "WenKai Mono";
    src: local("WenKai Mono"),
         url('../font/LXGWWenKaiMonoTC-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: regular;
}

@font-face {
    font-family: "PT Sans Narrow";
    src: url('../font/PTSansNarrow-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: regular;
}