.footer {
    &__wrapper {
        padding: 2vh 0.8rem;
    }

    /* &__wrapper--menu {
        padding: 2vh 0;
    } */

    &__wrapper--last {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__line {
        height: 2px;
        background-color: currentColor;
    }
}

@media screen and (max-width: 420px) {
    .footer {
        text-align: center;

        &__wrapper--last {
            flex-direction: column-reverse;
            justify-content: center;
            gap: 2vh;
        }
    }
}