.footer {
    &__wrapper {
        padding: 0;
    }

    &__wrapper--menu {
        padding: 2vh 0;
    }

    &__wrapper--last {
        padding: 2vh 0.8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__line {
        height: 2px;
        background-color: currentColor;
    }
}