{% extends './components/base.html' %}

{% block link_css %}
{% assets "scss_about" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="about__inner">
        <div class="about__box">
            <div class="about__title">
                О нашей команде
            </div>
            <p class="about__text about__text--max-width">
                Команда "Про Финансы" состоит из экспертов в различных областях, которые работают над созданием и совершенствованием решений для управления личными финансами. Мы объединены общей целью — помочь людям эффективно управлять своими деньгами и достигать финансовой стабильности.
            </p>
            <p class="about__text about__text--max-width">
                Наши разработчики, аналитики и финансовые консультанты обладают многолетним опытом в области программирования, финансов и экономики. Мы тесно сотрудничаем, чтобы создать продукт, который будет прост в использовании, но при этом мощный и функциональный, предоставляя пользователям все инструменты для контроля над их финансами.
            </p>
        </div>
        <div class="about__box">
            <p class="about__subtitle">Эксперты в области технологий</p>
            <p class="about__text">Наша команда разработчиков использует самые передовые технологии для создания удобных и надежных финансовых инструментов. Мы стремимся обеспечить безопасность ваших данных и гарантировать, что приложение всегда работает без сбоев. В нашей команде работают специалисты по мобильной разработке, веб-разработчики и эксперты по искусственному интеллекту, чтобы создавать адаптивные и умные финансовые решения.</p>
        </div>
        <div class="about__box">
            <p class="about__subtitle about__text--right">Специалисты по финансовым вопросам</p>
            <p class="about__text about__text--right"">Мы не только разрабатываем программное обеспечение, но и заботимся о качестве контента, который предоставляем пользователю. Наши финансовые консультанты и аналитики создают эффективные стратегии для бюджетирования, сбережений и инвестирования, которые легко адаптировать к конкретным потребностям каждого пользователя. Они анализируют текущие финансовые тенденции и используют этот опыт для разработки продуктов, которые помогут нашим пользователям лучше понимать, как управлять своими деньгами.</p>
        </div>
        <div class="about__box">
            <p class="about__subtitle about__text--center">Почему мы?</p>
            <ul class="about__list">
                <li>Инновационность: Мы постоянно исследуем новые технологии и методы для улучшения качества наших продуктов. Наша команда всегда в поиске новых решений, чтобы предлагать вам самые современные инструменты.</li>
                <li>Экспертиза: Мы объединяем профессионалов в области технологий и финансов, чтобы разрабатывать решения, которые работают. Наша команда обладает глубокими знаниями в области экономики, финансов и цифровых технологий, что позволяет нам создавать действительно полезные продукты.</li>
                <li>Качество: Мы уделяем внимание каждой детали и постоянно тестируем наши продукты, чтобы они всегда отвечали высоким стандартам качества и безопасности.</li>
                <li>Простота использования: Несмотря на сложность технологий, мы стремимся сделать наши инструменты доступными и понятными каждому пользователю. Наши приложения интуитивно понятны, и любой человек может легко разобраться в их функционале.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}