{% extends './components/base.html' %}

{% block link_css %}
{% assets "scss_peculiarity" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="peculiarity__inner">
        <div class="peculiarity__box">
            <div class="peculiarity__title">
                Особенности нашего продукта
            </div>
            <p class="peculiarity__text peculiarity__text--max-width">
                Приложение «Про Финансы» — это не просто инструмент для отслеживания расходов. Это мощная платформа, созданная с целью улучшить ваше финансовое благополучие и предоставить вам полный контроль над вашими деньгами. Мы объединяем передовые технологии с экспертными знаниями в области финансов, чтобы предложить вам уникальные функции, которые изменят ваш подход к управлению личными финансами.
            </p>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle">Автоматическое отслеживание расходов</p>
            <p class="peculiarity__text peculiarity__text--max-width">Мы знаем, как легко потеряться в потоке расходов, особенно когда их слишком много. Поэтому наша система автоматически отслеживает все ваши транзакции, классифицируя их по категориям (еда, транспорт, развлечения, и т. д.), чтобы вы могли в любой момент увидеть, куда уходят ваши деньги.</p>
            <ul class="peculiarity__list">
                <li>Автоматический импорт данных с банковских карт и счетов.</li>
                <li>Поддержка множества валют и карт.</li>
                <li>Легкость в настройке категорий расходов и доходов.</li>
            </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Интуитивно понятный интерфейс</p>
            <p class="peculiarity__text peculiarity__text--max-width">Наше приложение разработано с учетом потребностей пользователей, которым важна простота и удобство. Мы уделяем особое внимание тому, чтобы даже человек, не знакомый с финансовыми инструментами, мог быстро освоить все функции.</p>
            <ul class="peculiarity__list">
               <li>Понятная навигация по разделам.</li>
               <li>Простой процесс добавления транзакций.</li>
               <li>Визуальные отчеты и графики для лучшего понимания финансов.</li>
            </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Бюджетирование и финансовое планирование</p>
            <p class="peculiarity__text peculiarity__text--max-width">С помощью нашего инструмента вы можете легко планировать свои финансы, ставить цели и контролировать бюджет. Создание бюджетов стало проще — вы можете настроить лимиты для каждой категории расходов и следить за их выполнением.</p>
            <ul class="peculiarity__list">
                <li>Установка лимитов для разных категорий расходов.</li>
                <li>Прогнозирование бюджета на основе исторических данных.</li>
                <li>Автоматические уведомления о превышении бюджета.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle">Аналитика и отчетность</p>
            <p class="peculiarity__text peculiarity__text--max-width">Наши мощные аналитические инструменты помогут вам понять финансовые тенденции, найти слабые места в вашем бюджете и найти способы экономии. Вы получите подробные отчеты о ваших расходах, доходах и финансовых целях.</p>
            <ul class="peculiarity__list">
                <li>Подробные финансовые отчеты за выбранный период.</li>
                <li>Графики и диаграммы для визуального представления данных.</li>
                <li>Подсчёт сбережений и прогнозирование роста капитала.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Инвестиционные рекомендации</p>
            <p class="peculiarity__text peculiarity__text--max-width">«Про Финансы» не только помогает управлять деньгами, но и подсказывает пути для их увеличения. Мы предоставляем персонализированные инвестиционные рекомендации, основанные на вашем текущем финансовом состоянии, целях и рисковом профиле.</p>
            <ul class="peculiarity__list">
                <li>Рекомендации по инвестициям на основе вашего финансового состояния.</li>
                <li>Сравнение различных инвестиционных инструментов.</li>
                <li>Оценка рисков и потенциальных доходов от инвестиций.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Система долговых обязательств</p>
            <p class="peculiarity__text peculiarity__text--max-width">Если вы берете кредиты или имеете долговые обязательства, наш инструмент поможет вам отслеживать их и не допустить просрочек. Приложение напоминает вам о сроках платежей, помогает планировать досрочное погашение и отслеживает ваши обязательства.</p>
            <ul class="peculiarity__list">
                <li>Автоматические напоминания о сроках платежей.</li>
                <li>Подсчёт общей суммы задолженности и процентов.</li>
                <li>Стратегии по погашению долгов для минимизации выплат.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Безопасность и конфиденциальность</p>
            <p class="peculiarity__text peculiarity__text--max-width">Мы понимаем, насколько важна безопасность ваших финансовых данных. Поэтому мы применяем самые современные методы защиты информации, включая шифрование и двухфакторную аутентификацию.</p>
            <ul class="peculiarity__list">
                <li>Шифрование всех данных на всех уровнях.</li>
                <li>Двухфакторная аутентификация для дополнительной безопасности.</li>
                <li>Хранение данных на защищённых серверах.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Поддержка различных устройств</p>
            <p class="peculiarity__text peculiarity__text--max-width">Мы понимаем, как важно иметь доступ к вашим финансам в любое время и в любом месте. Наше приложение доступно на различных устройствах, включая смартфоны, планшеты и компьютеры, и синхронизируется между ними в реальном времени.</p>
            <ul class="peculiarity__list">
                <li>Мобильные приложения для iOS и Android.</li>
                <li>Веб-версия для работы с компьютера.</li>
                <li>Синхронизация данных между всеми устройствами.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Персонализированные рекомендации и советы</p>
            <p class="peculiarity__text peculiarity__text--max-width">Наши специалисты по личным финансам и искусственный интеллект помогут вам создавать персонализированные стратегии управления деньгами. Приложение будет давать советы, как оптимизировать расходы, увеличивать сбережения и достигать ваших финансовых целей.</p>
            <ul class="peculiarity__list">
                <li>Персонализированные финансовые советы.</li>
                <li>Напоминания о целях и стратегии их достижения.</li>
                <li>Постоянное обновление рекомендаций на основе ваших действий.</li>
             </ul>
        </div>
        <div class="peculiarity__box">
            <p class="peculiarity__subtitle peculiarity__text--center">Обратная связь и поддержка</p>
            <p class="peculiarity__text peculiarity__text--max-width">Мы ценим мнение каждого пользователя, и всегда готовы ответить на вопросы или помочь с решением проблем. Наша служба поддержки доступна через чат, электронную почту или по телефону.</p>
            <ul class="peculiarity__list">
                <li>Круглосуточная поддержка.</li>
                <li>Ответы на часто задаваемые вопросы.</li>
                <li>Возможность отправить запрос через форму на сайте.</li>
             </ul>
        </div>
    </div>
</div>
{% endblock %}