<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"href=" {{ url_for('static', filename='img/favicon/favicon.svg') }}">
    <link rel="shortcut icon"href=" {{ url_for('static', filename='img/favicon/favicon.png') }}">
    <title>Finance - Admin Panel</title>
    <meta name="description" content="Административная панель Finance App: управляйте финансами своей компании с лёгкостью. Отслеживайте расходы, анализируйте доходы и генерируйте отчёты в реальном времени. Интуитивно понятный интерфейс и мощные инструменты для оптимизации финансовых процессов.">

    {% assets "scss_admin" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <header class="header">
        <div class="container">
            <a class="back-button" href="/">Вернутся на сайт</a>
            <h1 class="title">Добро пожаловать в панель Администратора!</h1>
        </div>
    </header>

    <main class="main">
       <div class="container">
        <h1 style="text-align: center;">Динамическая системная информация</h1>
        <table>
            <thead>
                <tr>
                    <th>Свойство</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody id="system-info">

            </tbody>
        </table>

       </div>
    </main>

    {% include './components/footer.html' %}

    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>

</html>