<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"href=" {{ url_for('static', filename='img/favicon/favicon.svg') }}">
    <link rel="shortcut icon"href=" {{ url_for('static', filename='img/favicon/favicon.png') }}">
    <title>Finance - Admin Panel</title>
    <meta name="description" content="Административная панель Finance App: управляйте финансами своей компании с лёгкостью. Отслеживайте расходы, анализируйте доходы и генерируйте отчёты в реальном времени. Интуитивно понятный интерфейс и мощные инструменты для оптимизации финансовых процессов.">

    {% assets "scss_main" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% block link_css %}
    {% endblock %}
</head>

<body>
    {% include './components/header.html '%}

    <main class="main">
        {% block main %}
        {% endblock %}
    </main>

    {% include './components/footer.html' %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>