@import '../components/reset';
@import '../components/font';
@import '../components/vars';
@import '../components/footer';
@import '../components/social';

* {
    color: inherit;
    background-color: inherit;
}

:root.overflow-hidden {
    overflow-y: hidden;

    body {
        overflow-y: hidden;
        touch-action: none;
        -ms-touch-action: none;
    }
}

body {
    min-height: 100vh;
    min-height: 99dvh;
    display: flex;
    flex-direction: column;
    font-family: "WenKai Mono";
    font-family: "PT Sans Narrow";
}
.header {
    padding: 4vw 0;
}
.main {
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

.back-button {
    margin-bottom: .7rem;
    padding: 1rem;
    display: block;
    text-align: center;
}

.title {
    font-size: 2.5vw;
    text-align: left;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 90%;
    }

    .header {
        padding: 6vw 0;
    }

    .title {
        font-size: 5.5vw;
    }
}