@import 'components/reset';
@import 'components/font';
@import 'components/vars';
@import 'components/header';
@import 'components/footer';
@import 'components/social';


* {
    color: inherit;
    background-color: inherit;
}

body {
    min-height: 100vh;
    min-height: 99dvh;
    display: flex;
    flex-direction: column;
    font-family: "WenKai Mono";
    font-family: "PT Sans Narrow";
}

.main {
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}